/********************************
JUMBOTRON
*********************************/
.jumbotron {
    background: url("../img/RozShelfBio.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 350px;
}
body {
    background: url("../img/backgrounds/lightpaperfibers_@2X.png") repeat;
}
.main-nav-container,
#footer {
    background: url("../img/blackBackgrounds/tweed_@2X.png") repeat;
}