/********************************
JUMBOTRON
*********************************/
.jumbotron {
    background: url("../img/RozShelfContact.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 350px;
}
body {
    background: url("../img/backgrounds/concrete_wall_3_@2X.png") repeat;
}
.main-nav-container,
#footer {
    background: url("../img/blackBackgrounds/dark_wall_@2X.png") repeat;
}