/********************************
JUMBOTRON
*********************************/
.jumbotron {
    background: url("../img/RozShelfLinks.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 350px;
}
body {
    background: url("../img/backgrounds/notebook_@2X.png") repeat;
}
.main-nav-container,
#footer {
    background: url("../img/blackBackgrounds/dark_wall_@2X.png") repeat;
}
/********************************
LISTS
*********************************/
#course-detail {
    list-style: none;
}
/********************************
FONTS
*********************************/
h2 {
    font-size: 1.15rem;
}