/********************************
JUMBOTRON
*********************************/
.jumbotron {
    background: url("../img/RozShelfLinks.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 350px;
}
body {
    background: url("../img/backgrounds/white_wall2_@2X.jpg") repeat;
}
.main-nav-container,
#footer {
    background: url("../img/blackBackgrounds/wood_1_@2X.png") repeat;
}
/********************************
FONT
*********************************/
.recommend-link:visited {
    color: #800000;
}
/********************************
MARGINS/ PADDING
*********************************/
ul {
    padding-left: 1rem;
}
#main-content {
    padding-bottom: 3rem;
}