/* Extra-small devices (portrait phones, less than 544px) */
@media screen and (max-width: 543px) {
    /*#main-nav-container {
        background: red;
    }*/
    .jumbotron {
        height: 150px;
    }
    .nav-link {
        font-size: 0.75rem;
        letter-spacing: 0px;
        flex-wrap: wrap;
    }
    .social-media-icon {
        width: 1rem;
        height: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 544px) and (max-width: 767px) {
    /*#main-nav-container {
        background-color: orange;
    }*/
    .jumbotron {
        height: 225px;
    }
    .nav-link {
        font-size: 0.73rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
    /*#main-nav-container {
        background-color: yellow;
    }*/
    .jumbotron {
        height: 315px;
    }
    .nav-link {
        font-size: 1.27rem;
    }
    
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
    /*#main-nav-container {
        background-color: green;
    }*/
}

/* Extra large devices (large desktops) */
/* No media query, no upper bound on its width */