/********************************
JUMBOTRON
*********************************/
.jumbotron {
    background: url("../img/RozShelfHowIWork.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 350px;
}
body {
    background: url("../img/backgrounds/notebook_@2X.png") repeat;
}
.main-nav-container,
#footer {
    background: url("../img/blackBackgrounds/dark_wall_@2X.png") repeat;
}
/********************************
FONTS
*********************************/
.section-header {
    font-size: 1.25rem;
    color: #B44D30; /* rust */
}
u {
    font-size: 1.05rem;
}
/********************************
MARGINS/ PADDING
*********************************/
ul {
    padding-left: 1rem;
}
#main-content {
    padding-bottom: 3rem;
}